/.quarto/
**/*.quarto_ipynb
/_site/
.DS_Store
Notas/*.log
PlanoEnsino/*.aux
PlanoEnsino/*.bbl
PlanoEnsino/*.bcf
PlanoEnsino/*.blg
PlanoEnsino/*.fdb_latexmk
PlanoEnsino/*.fls
PlanoEnsino/*.log
PlanoEnsino/*.out
PlanoEnsino/*.run.xml
